@import url(https://fonts.googleapis.com/css?family=Play:regular);
@import url(https://fonts.googleapis.com/css?family=Special+Gothic+Expanded+One:regular);

* {
  font-family: Special Gothic Expanded One;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 132rem;
  margin: auto;
  /* background-color: red; */
}

main {
  background-color: #222;

  /*! Maybe later  */
  cursor: url("./assets/your-cursor.png") 10 10, auto;
  color: white;
}

@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg at center, red, blue, green, yellow;
}

.home-grid {
  padding-top: 3.9rem;
}

.home-section {
  background-color: rgb(136, 4, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  & .name-part {
    display: inline-flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */

    & h5 {
      font-size: 3.5rem;
      font-weight: lighter;
    }

    & span {
      position: relative;
      display: inline-block;
      margin-left: 29px;
      /* background-color: yellowgreen; */
      font-size: 9rem;
      font-weight: bold;
      letter-spacing: 1rem;
      text-transform: uppercase;
      padding-left: 0.3em; /* adjust spacing before the first letter */

      /* outlined text */
      color: transparent;
      -webkit-text-stroke: 1px #999999;
      white-space: nowrap;
      overflow: hidden;
    }

    /* cursor-like overlay (appears only on hover) */
    & span::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: orange;
      -webkit-text-stroke: 0px;
      border-right: 5px solid orange;
      /*cursor*/
      overflow: hidden;
      transition: width 0.2s linear;
      -webkit-transition: width 0.2s linear;
      -moz-transition: width 0.2s linear;
      -ms-transition: width 0.2s linear;
      -o-transition: width 0.2s linear;
    }

    & span:hover::before {
      width: 99%;
      text-shadow: 0px 0px 17px orange;
    }
  }

  & h1 {
    font-size: 5rem;
  }

  & p {
    font-family: Play;
    font-size: 1.7rem;
    font-weight: lighter;
    margin-top: 3rem;
  }
}

.button {
  border: none;
  outline: none;
  padding: 1.2rem 1.5rem;
  margin-top: 7rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: Play;
  font-size: 1.9rem;
  font-weight: lighter;
  z-index: 1;
}

/* gradient glow layer */
.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: conic-gradient(
    from 0deg at center,
    red,
    yellow,
    orange,
    orangered
  );
  filter: blur(10px);
  z-index: -1;
  transition: all 0.3s ease;
  -webkit-filter: blur(10px);
}

/* Hover: spread glow */
.button:hover::before {
  filter: blur(15px);
  inset: -2px;
  -webkit-filter: blur(15px);
}

.button h5 {
  font-family: Play;
  letter-spacing: 0.1rem;
}

.about-grid {
  padding-top: 3.9rem;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(0, 69, 92);
  min-height: 100vh;
  padding: 4rem 1rem;
  gap: 2rem; /* optional spacing between sections */

  & .image-section {
    width: 45rem;
    aspect-ratio: 1;
    overflow: hidden;
    background-color: orangered;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      z-index: -2;
      background: conic-gradient(from 0deg at center, red, blue, green, yellow);
    }

    &::after {
      filter: blur(20px);
      -webkit-filter: blur(20px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 70%;
      border-radius: inherit;
    }
  }

  & .text-section {
    display: flex;
    flex-direction: column;
    justify-content: start; /* or center, depending on design */
    align-items: center;
    text-align: center;

    & h1 {
      font-family: Play;
      font-size: 3.7rem; /* adjust as needed */
      margin-bottom: 20px;
      font-weight: 100;

      span {
        color: orange;
        font-weight: bold;
      }
    }

    & p {
      font-family: Play;
      color: #c5c1bf;
      line-height: 3.2rem;
      font-size: 2.3rem;

      span {
        color: orange;
      }
    }
  }
}

/*! Skills Section  */

.skills-grid {
  padding-top: 3.9rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem 1rem;
  background-color: rgb(122, 36, 4);

  & .frontend-skills {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;

    & .frontend-text {
      width: 20%;

      & h1 {
        letter-spacing: 0.2rem;
        color: rgb(178, 176, 176);
      }
    }

    & .frontend-stacks {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 7rem;

      & .stacks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.1rem;

        & img {
          width: 38px;
          /* background: rebeccapurple; */
        }

        & span {
          font-size: 1.5rem;
          font-family: Play;
          /* background: red; */
        }
      }
    }
  }

  & .backend-skills {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5rem;
    width: 100%;

    & .backend-text {
      width: 20%;

      & h1 {
        letter-spacing: 0.2rem;
        color: rgb(178, 176, 176);
      }
    }

    & .backend-stacks {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 7rem;

      & .stacks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.1rem;

        & img {
          width: 38px;
          /* background: rebeccapurple; */
        }

        & span {
          font-size: 1.5rem;
          font-family: Play;
          /* background: red; */
        }
      }
    }
  }

  & .database-skills {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5rem;
    width: 100%;

    & .database-text {
      width: 20%;

      & h1 {
        letter-spacing: 0.2rem;
        color: rgb(178, 176, 176);
      }
    }

    & .database-stacks {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
      gap: 7rem;

      & .stacks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.1rem;

        & img {
          width: 38px;
          /* background: rebeccapurple; */
        }

        & span {
          font-size: 1.5rem;
          font-family: Play;
          /* background: red; */
        }
      }
    }
  }

  & .other-skills {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5rem;
    width: 100%;

    & .other-text {
      width: 20%;

      & h1 {
        letter-spacing: 0.2rem;
        color: rgb(178, 176, 176);
      }
    }
    & .other-stacks {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
      gap: 7rem;
      flex-wrap: wrap;

      & .stacks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.1rem;

        & img {
          width: 38px;
          /* background: rebeccapurple; */
        }

        & span {
          font-size: 1.5rem;
          font-family: Play;
          /* background: red; */
        }
      }
    }
  }
}

/*! Projects Section */

.projects-grid {
  padding-top: 3.9rem;

  & .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-height: 100vh;
    padding: 4rem 1rem;
    background-color: rgb(128, 128, 9);

    & .projects-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      & h1 {
        font-family: Play;
        font-size: 5.3rem;
      }
      & p {
        font-family: Play;
        font-size: 2rem;
      }
    }

    .projects-div {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 7rem; /* add spacing between cards */
      padding: 0rem 3rem;

      & .project-card {
        position: relative;
        gap: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #4e4e4e3f;
        background-color: rgb(194, 194, 194);
        border-radius: 17px;

        & .project-image {
          aspect-ratio: 16/9;
          overflow: hidden;
          border-radius: 17px 17px 0px 0px;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }

        & .project-text-section {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          padding: 2.3rem;

          & .project-name {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;

            & h3 {
              font-size: 2.3rem;
              font-family: Play;
              color: black;
            }

            & p {
              font-family: Play;
              font-size: 1.3rem;
              color: black;
            }
          }
          & .project-stacks {
            display: flex;
            gap: 1.2rem;

            & .stacks {
              display: flex;
              align-items: center;
              background-color: rgb(224, 224, 224);
              gap: 0.6rem;
              padding: 0.3rem;
              border-radius: 5px;

              & img {
                width: 14px;
              }

              & span {
                font-family: Play;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

/*! Connect Section  */

.connect-grid {
  padding-top: 3.9rem;
  min-height: 100vh;

  & .connect-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    min-height: 100vh;
    padding: 4rem 1rem;
    background-color: rgb(66, 107, 6);

    & .connect-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;

      & h1 {
        font-family: Play;
        font-size: 5.3rem;
      }

      & p {
        font-family: Play;
        width: 70%;
        font-size: 2rem;
      }
    }

    .contact-section {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 5rem;

      & .social-medias {
        display: flex;
        flex-direction: column;
        gap: 2.3rem;
        align-items: center;
        box-shadow: 0 0 11px orange;
        padding: 2.7rem;
        border-radius: 17px;

        & a {
          font-size: 4.3rem;

          &:hover {
            color: orange;
          }
        }
      }

      & .contact-form {
        width: 49%;

        & form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          flex-direction: column;
          gap: 2rem;
          box-shadow: 0 0 9px orange;
          padding: 5rem;
          border-radius: 17px;

          & .form-element:nth-child(3),
          & .form-element:nth-child(4) {
            grid-column: 1 / -1;
          }

          & .form-element {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            & label {
              font-family: Play;
              font-size: 1.5rem;
            }

            & textarea {
              border: 0.2rem solid transparent;
              outline: none;
              padding: 0.3rem;
              font-family: Play;
              border-radius: 7px;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              -ms-border-radius: 7px;
              -o-border-radius: 7px;

              &:focus {
                border: 0.2rem solid orange;
                box-shadow: 0 0 9px orange;
              }
            }

            & input {
              font-family: Play;
              width: 100%;
              height: 3rem;
              font-size: 1.8rem;
              border: none;
              border: 0.2rem solid transparent;
              outline: none;
              padding: 0.7rem;
              border-radius: 7px;

              &::placeholder {
                font-size: 1.4rem;
              }

              &:focus {
                border: 0.2rem solid orange;
                box-shadow: 0 0 9px orange;
              }
            }

            &:focus-within > label {
              color: orange;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

/*! Recommended Screen Sizes  */
/*~ 576px */
/*~  768px */
/*~ 992px */
/*~  1200px */
/*~ 1400px */

@media screen and (max-width: 1263px) {
  html {
    font-size: 50%;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 45%;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }

  .skills-grid {
    & .skills-section {

      & .frontend-skills {
        & .frontend-stacks,

        & .backend-skills {
          & .backend-stacks,

          & .database-skills {
            & .database-stacks,

            & .other-skills {
              & .other-stacks {
                grid-template-columns: repeat(4, 1fr);
              }
            }
          }
        }
      }
    }
  }   
}

@media screen and (max-width: 928px) {
  html {
    font-size: 40%;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }

  .skills-grid {
    & .skills-section {
      & .frontend-skills {
        & .frontend-stacks,
        & .backend-skills {
          & .backend-stacks,
          & .database-skills {
            & .database-stacks,
            & .other-skills {
              & .other-stacks {
                gap: 4rem 7rem;
              }
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: 789px) {
  html {
    font-size: 40%;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }


  .skills-grid{
    & .skills-section{
      & .frontend-skills{
        & .frontend-stacks{
          grid-template-columns: repeat(4, 1fr);
        }
      }
      & .backend-skills{
        & .backend-stacks{
          grid-template-columns: repeat(4, 1fr);
        }
      }
      & .database-skills{
        & .database-stacks{
          grid-template-columns: repeat(4, 1fr);
        }
      }
      & .other-skills{
        & .other-stacks{
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  /* .skills-grid {
    & .skills-section {
      & .frontend-skills {
        & .frontend-stacks,
        & .backend-skills {
          & .backend-stacks,
          & .database-skills {
            & .database-stacks,
            & .other-skills {
              & .other-stacks {
                grid-template-columns: repeat(3, 1fr);
                gap: 4rem 7rem;
              }
            }
          }
        }
      }
    }
  } */

}