@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #222; */
}

html {
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
  background-color: #222;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  background-color: #323232;
  padding: 1.7rem 0;
  position: fixed;
  z-index: 999;
}

.container {
  width: 90%;
  max-width: 132rem;
  margin: 0 auto;
}

.navbar-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.7rem;
}

.menu-web {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* padding: 2.3rem; */
}

.menu-web ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.menu-web ul li a {
  transition: all 0.3s ease-in-out;
  font-size: 2.3rem;
  font-weight: 700;
}

.menu-web ul li a:hover {
  color: orange;
}

.ham-menu {
  display: none;
  flex-direction: column;
  /* justify-content: end; */
  gap: 0.6rem;
  cursor: pointer;
}

.ham-bar {
  width: 6.9rem;
  height: 1rem;
  background-color: white;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

/* Hamburger animation */
.ham-bar.clicked:nth-child(1) {
  transform: rotate(50deg) translate(6px, 10px);
}

.ham-bar.clicked:nth-child(2) {
  opacity: 0;
}

.ham-bar.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -13px);
}

/* Mobile Menu */
.menu-mobile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: absolute;
  top: 11rem;
  right: 0;
  width: 100%;
  background-color: gray;
  overflow: hidden;
  max-height: 500px; /* enough to show all items */
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 2.3rem 0 2.3rem 0;
}

.menu-mobile ul li a {
  font-size: 2rem;
}

.active-link {
  color: orange; /* highlight color */
  font-weight: bold; /* optional */
}

/* Media Queries */

@media screen and (max-width: 1260px) {
  .container {
    max-width: 123rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-grid {
    justify-content: end;
  }

  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    gap: 1.4rem;
    padding: 1rem;
  }

  .container .navbar-grid .menu-mobile ul li a {
    font-size: 3.5rem;
  }

  .container .navbar-grid .menu-mobile ul{
    gap: 4rem;
  }

  .container .navbar-grid .menu-mobile {
    /* font-size: 5rem; */
    padding: 3.7rem;
  }

}


@media screen and (max-width: 700px) {
  .ham-bar.clicked:nth-child(1) {
    transform: rotate(50deg) translate(7.5px, 10px);
  }

  .ham-bar.clicked:nth-child(2) {
    opacity: 0;
  }

  .ham-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -8px);
  }
}

@media screen and (max-width: 581px) {
  .ham-bar.clicked:nth-child(1) {
    transform: rotate(50deg) translate(5.5px, 7.1px);
  }

  .ham-bar.clicked:nth-child(2) {
    opacity: 0;
  }

  .ham-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -8px);
  }
}

@media screen and (max-width: 358px) {
  .ham-bar.clicked:nth-child(1) {
    transform: rotate(50deg) translate(1.5px, 7.1px);
  }

  .ham-bar.clicked:nth-child(2) {
    opacity: 0;
  }

  .ham-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -8px);
  }
}