footer {
  padding: 3rem 2rem;
  background-color: #2d2d2d;
}

.container {
  max-width: 132rem;
  margin: auto;
}

.footer-grid {
  display: flex;
  justify-content: center;
  align-items: center;

  & .text {
    text-align: center;
    font-size: 1.4rem;
    color: white;

    & p {
      font-family: Play;
      margin: 0.5rem 0;
    }
  }
}

@media screen and (max-width: 580px) {
  footer {
    padding: 2rem 1.5rem;
  }

  .footer-grid .text {
    font-size: 1.4rem;

    & p {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 420px) {
  footer {
    padding: 1.5rem 1rem;
  }

  .footer-grid .text {
    font-size: 1.3rem;
  }
}
